 


  <style>
  .descripcion_fotos 
{
  font-weight: bolder;
  font-size: 40;
  color: white;
  width:100%;
}
  </style>
   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        	<h1 class="descripcion_fotos">La Ciudad de los Niños </h1>
          
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://yonkethecardepot.com/website/images/ciudaddeninos.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
				
      <div class="col s6 ">
        

        	<p>Convive con la gran comunidad atlética del estado en esta carrera para corredores experimentados y principiantes. Como en todos nuestros eventos, tu cooperación para la inscripción se dona íntegramente para las necesidades de la causa que estamos apoyando

        	</p>
      	
      </div>
        <div class="col s6 ">
          
              <div class="fb-page" data-href="https://www.facebook.com/cdntijuana" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/cdntijuana"><a href="https://www.facebook.com/cdntijuana">Ciudad de los Niños, Tijuana</a></blockquote></div></div>  
   
        </div>


      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="descripcion_fotos">Corredores Berrendos </h1>
          <h5 class="header col s12 light descripcion_fotos"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://www.yonkethecardepot.com/website/images/8.jpg" alt="Unsplashed background img 3"></div>
  </div>


    <div class="container">
    <div class="section">

      <div class="row">

		<div class="col s6">
		 	
				<p>Club de Corredores Berrendo es un grupo de corredores recreativos de diversos niveles originarios de Baja California México. </p>
			
		</div>

        <div class="col s6">
          
              <div class="fb-page" data-href="https://www.facebook.com/CorredoresBerrendo/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/CorredoresBerrendo/"><a href="https://www.facebook.com/CorredoresBerrendo/">Club de Corredores Berrendo</a></blockquote></div></div>
       

                

        </div>


      </div>

    </div>
  </div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          	<h1 class="descripcion_fotos">Grupo Tress </h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://yonkethecardepot.com/website/images/grupotres1.jpg" alt="Unsplashed background img 3"></div>
  </div>


    <div class="container">
    <div class="section">
			
      <div class="row">	
      		
      	<div class="col s6">
			
			  <p>El objetivo de la empresa es poder brindar apoyo a través de la recaudación de fondos (por medio de la carrera) a aquellas personas que más lo necesitan y así “vivir la alegría de mejorar vidas”.</p>      		
      	</div>
        <div class="col s6">
          
              <div class="fb-page" data-href="https://www.facebook.com/Somos-Tress-512303958860039/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
       

                

        </div>


      </div>

    </div>
  </div>

 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

