<div class="container">
<h2>Registrarse</h2>
  <div class="row">
    <div class="col col s8 offset-s2">
    	<div class="progress">
          <div class="determinate" style="width: 95%"></div>
      	</div>
      	<h6 align="right">Paso 3 de 3</h6>
      	</br>
		
			<div class="col s1 offset-s8"> 
      			<div class="actions">
					     
				</div>
			</div>				
		
	</div>
  </div>
</div> 