<div class="container">
<h2>Rutas creadas</h2>
<table class="highlight centered responsive-table">
	<thead>
		<th>Nombre</th>
        <th>Salida</th>
        <th>Meta</th>
        <th>x</th>
    </thead>
    <tbody>
        <tr>
			<% @route.each do |x| %>
				<td><%= x.name %></td>
				<td><%= x.start_point %></td>
				<td><%= x.finish_point %></td>
				<td><%= link_to 'Eliminar',  { action: :destroy, id: x.id }, method: :delete, data: { confirm: "¿Estas seguro?\n Borraras la ruta permanentemente."} %></td>
			<% end %>
	</tbody>
</table>
</div>