<div class="container">
  <h2>Ediciones de carreras guardadas</h2>
  <div class="row">
    <div class="col col s8 offset-s2">
		<label> Name </label>
		<%= @route.name %><br>
		<label> Start Point </label>
		<%= @route.start_point %><br>
		<label> Finish Point</label>
		<%= @route.finish_point %><br>
	</div>
  </div>
</div>  		