<div class="container">
	<p>Hola<%= @resource.email %>!</p>
	<div class="row">
		<div class="col col s8 offset-s2">

			<p>Su cuenta ha sido bloqueada debido a que sobrepasó el numero de intentos para iniciar sesión.</p>

			<p>De clic en el siguiente enlace para desbloquear su cuenta:</p>

			<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
		</div>
	</div>
</div>