<!DOCTYPE html>
<html>
<head>
  <title>Carrera5k</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="treeview">
      <li><a href="/"><span>La Carrera</span></a></li>
      <li><a href="/runners/new" ><span>Registro</span></a></li>
      <li><a href="/mains/historia"><span>Historia</span></a></li>
      <li><a href="/mains/about"><span>Acerca de</span></a></li>
</div>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
